@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(112, 96, 144), rgb(20 15 35));
}

header {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(112, 96, 144), rgb(20 15 35)); 
}

footer {
  margin: 100;
  bottom: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(112, 96, 144), rgb(20 15 35));
}

.nav-item{
  height: 1000%;
  margin: 15px  15px 15px  15px;
  color: white;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}


.about-background{
  background-image: url(../src/Assets/shootingStar.webp);
  background-size: cover;
  height: 300px;
}


.brand-image{
width:80%;
}
